.name-list {

  li {
    transition: all 0.3s ease-in;

    &.hide {
      transform: translateY(100%);
      opacity: 0;
    }

    &.winner {
      color: red;
    }

    &:hover button {
      opacity: 1;
    }
  }

  button {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
}